name: CMake Build and Release

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Tag for the release (e.g. v1.0.0)'
        required: true
        type: string

jobs:
  build-windows:
    name: Build Windows
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B build -S .

    - name: Build
      run: cmake --build build --config Release

    - name: Archive Production Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: OpenValhalla-Windows
        path: |
          build/VST3OpenValhalla_artefacts/Release/VST3/
          build/VST3OpenValhalla_artefacts/Release/Standalone/

  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libasound2-dev libx11-dev libxinerama-dev libxext-dev libfreetype6-dev libwebkit2gtk-4.1-dev libglu1-mesa-dev

    - name: Configure CMake
      run: cmake -B build -S . -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --config Release

    - name: Archive Production Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: OpenValhalla-Linux
        path: |
          build/VST3OpenValhalla_artefacts/VST3/
          build/VST3OpenValhalla_artefacts/Standalone/

  release:
    name: Create Release
    needs: [build-windows, build-linux]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Download Windows Artifacts
      uses: actions/download-artifact@v4
      with:
        name: OpenValhalla-Windows
        path: OpenValhalla-Windows

    - name: Download Linux Artifacts
      uses: actions/download-artifact@v4
      with:
        name: OpenValhalla-Linux
        path: OpenValhalla-Linux

    - name: Zip Artifacts
      run: |
        zip -r OpenValhalla-Windows.zip OpenValhalla-Windows
        zip -r OpenValhalla-Linux.zip OpenValhalla-Linux

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.event.inputs.release_tag }}
        files: |
          OpenValhalla-Windows.zip
          OpenValhalla-Linux.zip
